## Considere o dataset origem_carros.csv, que detalha algumas das características de carros de diferentes origens (europeia, japonesa e americana). Ignorando a variável “origin”, utilize um algoritmo de aprendizagem não supervisionada para determinar quantos grupos” de carros existem. De seguida, tendo já em consideração a verdadeira origem dos carros, faça uma análise aos clusters gerados, tentando perceber se os clusters estão “alinhados” com as diferentes origens dos carros.

In [3]:
import pandas as pd

# Carregar o ficheiro CSV fornecido
file_path = '../data/origem_carros.csv'
car_data = pd.read_csv(file_path)

# Visualizar as primeiras linhas para entender a estrutura do dataset
car_data.head()

   mpg  displacement  horsepower  weigth  acceleration    origin
0   35            72          69    1613            18  japanese
1   31            76          52    1649            17  japanese
2   39            79          58    1755            17  japanese
3   35            81          60    1760            16  japanese
4   31            71          65    1773            19  japanese

In [4]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score

# Remover a variável 'origin' e normalizar os dados
features = car_data.drop(columns=['origin'])
scaler = StandardScaler()
normalized_data = scaler.fit_transform(features)

# Testar diferentes números de clusters para determinar o melhor número (usando o silhouette score)
range_n_clusters = range(2, 10)
silhouette_scores = []

for n_clusters in range_n_clusters:
    kmeans = KMeans(n_clusters=n_clusters, random_state=42)
    cluster_labels = kmeans.fit_predict(normalized_data)
    silhouette_avg = silhouette_score(normalized_data, cluster_labels)
    silhouette_scores.append((n_clusters, silhouette_avg))

# Identificar o número de clusters com o melhor silhouette score
optimal_clusters = max(silhouette_scores, key=lambda x: x[1])
optimal_clusters

(2, np.float64(0.525943748859983))

In [7]:
# Exibir a tabela de análise de clusters diretamente
cluster_analysis

origin   american  european  japanese
cluster
0             145        68        79
1             100         0         0